* {
    margin: 0;
    padding: 0;
}

div.search {
    width: 238px;
    height: 294px;
    border: 1px solid #ccc;
    margin: 100px;
    border-top: 3px solid #FF8400;
}

div h3 {
    height: 35px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: normal;
    line-height: 35px;
    padding-left: 12px;
}

div img {
    /* margin: 7px 0 0 8px; */
    box-sizing: border-box;
    padding: 7px 8px 0 8px;
    height: 160px;
    width: 100%;
    /* height: 102px;
    width: 100%; */
}

ul {
    list-style: none;
}

div ul li a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

div ul {
    margin-left: 8px;
}

div li {
    padding-left: 10px;
    line-height: 26px;
}

div ul li a:hover {
    text-decoration: underline;
    color: #FF8400;
}